@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8%;
  margin: auto;
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;
  margin-top: 50px;
}
.form {
  position: relative;
  max-width: 360px;
  width: 15em;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-color: snow;
  opacity: 1;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: oldlace;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: darkslategray;
  width: 100%;
  border: 0;
  padding: 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  opacity: 0.5;
}
.form .message {
  margin: 15px 0 0;
  color: lightgrey;
  font-size: 12px;
}
.form .message a {
  color: darkslategray;
  text-decoration: none;
}
.form .login-form {
  display: none;
}

html {
  background-image: url("../images/bg.jpg");
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}


